/*All Pages */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,html{
    height: 100vh;
    font-family: sans-serif;
    background: #656565;
}
footer{
    display: grid;    
    grid-template-rows: auto;
    justify-content: center;
    background: rgba(0, 0, 22);
}
.foot{
    color: #f6f3f1;
    border: 1px solid #ffffff;
    padding: 5px;
    box-shadow:0px 1px 2px 0px #F77108;
    margin-bottom: 0px;
    font-family: 'Raleway', sans-serif;
}
.navbar{
    position: sticky;
    top: 0;
}
nav{
    font-size: 24px;
    background: rgb(240, 240, 243);
    font-family: 'Exo' , sans-serif;    
}
nav ul{
    list-style-type: none;
    display: flex;
}
nav ul li{
    text-align: center;
    flex-grow: 1;
    flex-shrink: 1;
    cursor: pointer;
    transition: .5s;
    padding: 10px;
    color: #f4f2f1;
}
nav ul li a{
    text-decoration: none;
    color: inherit;
    transition: .5s;
}
nav ul li:hover{
    background: rgb(251, 255, 251);
}
@media screen and (max-width: 600px) {
    nav ul{
        flex-direction: column;
    }
}
/* Home */
.intro h1{
    color:#fdfefe;
    font-size: 72px;
    font-family: 'Teko' , sans-serif;
}
.hero-img{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(./Images/HeroImage.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 150%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 1;
}
.hero-txt{
    margin: 0 auto;
    max-width: 1000px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 32px;
    align-content: center;
    text-align: center;
    color: #fffdfc;
}
.intro{
    grid-column: 1 / span 3;
    padding: 30px;
    margin: auto;
    text-align: center;
    box-shadow: 0px 3px 5px 0px rgba(89, 90, 89, 0.856);
    background: rgba(1, 1, 14, 0.315);
    border: 1px #f6f6f6;
    border-radius: 10px;
}
.nav-home ul{
    flex-direction: row;
    border: #262626;
    background: rgba(1, 1, 14, 0.288);
    align-content: center;
}
.nav-home ul .li-container:hover{
    box-shadow: 0px 4px 10px 0px #dadfdc;
    background: rgb(1, 1, 14);
}
.nav-home ul li:hover{
    background: rgba(1, 1, 14, 0.288);
}
.li-container{
    border: 2px rgb(0, 0, 0) solid;
    box-shadow: 0px 2px 6px 0px #c8cecb;
    border-radius: 10px;
    padding: 15px;
    transition: .5s;
    align-content: center;
}
.nav-home{
    background: rgba(1, 1, 14, 0.479);
    grid-column-start: 2;
    align-items: center;
}
.nav-home ul li p{
    font-size: 20px;
}
.nav-home h3{
    text-decoration: underline;
}

/*About Me */
#about_me{
    font-size: 72px;
    color: #070707;
    font-style: italic;
    text-align: center;
    text-decoration: underline;
    text-shadow: 0 0 4px #f6f6f6;
    grid-column: 1 / 4;
    grid-row: 1;
    padding: 30px;
    font-family: 'Teko' , sans-serif;
}
.about-grid{
    display: grid;
    grid-template-rows: auto 1fr 1fr;
    grid-template-columns: 1fr 1f;
    text-align: center;
    padding: 30px;

}
.about-grid h2{
    font-size: 48px;
    color: #000000;
    text-shadow: 0 0 5px rgb(255, 255, 255);
    text-decoration: underline;
    padding: 20px;
    font-family: 'Raleway' , sans-serif;
}

.about-grid h3{
    font-size: 32px;
    color: #000000;
    text-shadow: 0 0 5px rgb(255, 255, 255);
    text-decoration: underline;
    font-family: 'Raleway' , sans-serif;
}

.about-grid p{
    font-size: 24px;
    color: #fafafa;
    text-shadow: 0 0 5px rgb(0, 0, 0);
    border-style: ridge;
    padding: 10px;
    border-color: rgb(10, 9, 10);
    border-radius: 5px;
    font-family: 'Raleway' , sans-serif;
}
#education{
    grid-row-start: 2;
    grid-column: 2 /  4;
}
#work{
    grid-row-start: 3;
    grid-column: 2 /  4;
}


.top-btn{
    background-color:  #656565;
    border: 4px #f9f8f7;
    border-style: groove;
    border-radius: 10px;
    height: 50px;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 24px;
    transition: .5s;
    text-align: center;
    text-decoration: none;   
    font-family: 'Oswald' , sans-serif;
}
.top-btn:hover{
    box-shadow: 0px 2px 4px 0px #ffffff;
}
.top-btn:visited{
    color: black;
}
/* projects */
.project-grid{
    margin: 0 auto;
    max-width: 1000px;
    display: grid;
    grid-template-rows: auto 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 75px;
    font-family: sans-serif;
    padding: 30px;
    justify-content: center;
}
.project-grid #projects{
    font-size: 72px;
    color: #040404;
    font-style: italic;
    text-align: center;
    text-decoration: underline;
    text-shadow: 0 0 4px #f9f9f9;
    grid-column: 1 / 4;
    grid-row: 1;
    font-family: 'Teko' , sans-serif;
}
.project-grid #card-title{
    font-size: 48px;
    color: #fffcfc;
    text-align: center;
}
#site{
    grid-row: 2;
    grid-column: 1 /2;
}
#web{
    grid-row: 2;
    grid-column: 2/3;
}
#mvc{
    grid-row: 2;
    grid-column: 3/4;
}
.card{
    box-shadow: 0px 4px 8px 0px #f4f4f4;
    text-align: center;
    transition: 1s;
    color: #030303;
    padding: 10px;
    font-size: 20px;
    font-family: 'Raleway' , sans-serif;
}
.card:hover{
    box-shadow: 8px 8px 16px 0px rgba(0, 0, 0, 0.4);
}
.card-image{
    width: 100%;
    height: 250px;
}
@media screen  and (max-width: 900px) {
    .card-container{
        grid-template-columns: 1fr 1fr;
    } 
}
@media screen and (max-width: 600px) {
    .card-container{
        grid-template-columns: 1fr;
    }  
}
/* Contact */
.contact-grid{
    display: grid;
    margin: 0 auto;
    max-width: 1000px;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr;
    gap: 75px;
    font-family: sans-serif;
    padding: 30px;
    justify-content: center;
}
.contact-grid #contact_links{
    font-size: 72px;
    color: #020202;
    font-style: italic;
    text-align: center;
    text-decoration: underline;
    text-shadow: 0 0 4px #ffffff;
    grid-row: 1;
    font-family: 'Teko' , sans-serif;
}
.contact-info{
    display: grid;
    border: 2px #070707 groove;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 100px 1fr;
    row-gap: 75px;
    font-family: sans-serif;
    padding: 30px;
    justify-content: center;
}
.personal-email, .git{
    padding: 10px;
}
.personal-email {
    grid-row: 1;
    grid-column: 2;
}
.git{
    grid-row: 2;
    grid-column: 2;
}
.linkedin{
    grid-row: 3;
    grid-column: 2;
}
.personal-email img{
    grid-row: 1;
    grid-column: 1;
}
.git-img{
    grid-row: 3;
    grid-column: 1;
}
.linkedin-img{
    grid-row: 4;
    grid-column: 1;
}
.contact-grid p{
    color: #000000;
    padding: 10px;
    font-size: 20px;
    font-family: 'Raleway' , sans-serif;
}
.contact-grid a{
    padding: 5px 10px;
    border: 4px #000000;
    border-style: groove;
    border-radius: 10px;
    font-size: 24px;
    transition: .5s;
    text-align: center;
    text-decoration: none;
    color: #000000;
    box-shadow: 0px 2px 4px 0px #fdfdfd;
    transition: .5s;
    font-family: 'Oswald' , sans-serif;
}
.contact-grid a:hover{
    box-shadow: 0px 4px 8px 0px #f5f4f3;
}