/*All Pages */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,html{
    height: 100vh;
    font-family: sans-serif;
    background: #7108F7;
}
footer{
    display: grid;    
    grid-template-rows: auto;
    justify-content: center;
    background: rgba(0, 0, 22);
}
.foot{
    color: #F77108;
    border: 1px solid #08F771;
    padding: 5px;
    box-shadow:0px 1px 2px 0px #F77108;
    margin-bottom: 0px;
    font-family: 'Raleway', sans-serif;
}
nav{
    font-size: 24px;
    background: rgb(0, 0, 7);
    font-family: 'Exo' , sans-serif;    
}
nav ul{
    list-style-type: none;
    display: flex;
}
nav ul li{
    text-align: center;
    flex-grow: 1;
    flex-shrink: 1;
    cursor: pointer;
    transition: .5s;
    padding: 10px;
    color: #F77108;
}
nav ul li a{
    text-decoration: none;
    color: inherit;
    transition: .5s;
}
nav ul li:hover{
    background: rgba(8, 253, 8, 0.459);
}
@media screen and (max-width: 600px) {
    nav ul{
        flex-direction: column;
    }
}
/* Home */
.intro h1{
    color:#F77108;
    font-size: 72px;
    font-family: 'Teko' , sans-serif;
}
.hero-img{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(./Images/HeroImage2.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 1;
}
.hero-txt{
    margin: 0 auto;
    max-width: 1000px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 32px;
    align-content: center;
    text-align: center;
    color: #F77108;
}
.intro{
    grid-column: 1 / span 3;
    padding: 30px;
    margin: auto;
    text-align: center;
    box-shadow: 0px 3px 5px 0px rgba(89, 90, 89, 0.856);
    background: rgba(1, 1, 14, 0.315);
    border: 1px #08F771;
    border-radius: 10px;
}
.nav-home ul{
    flex-direction: row;
    border: #08F771;
    background: rgba(1, 1, 14, 0.288);
    align-content: center;
}
.nav-home ul .li-container:hover{
    box-shadow: 0px 4px 10px 0px #08F771;
    background: rgb(1, 1, 14);
}
.nav-home ul li:hover{
    background: rgba(1, 1, 14, 0.288);
}
.li-container{
    border: 2px orange solid;
    box-shadow: 0px 2px 6px 0px #08F771;
    border-radius: 10px;
    padding: 15px;
    transition: .5s;
    align-content: center;
}
.nav-home{
    background: rgba(1, 1, 14, 0.479);
    grid-column-start: 2;
    align-items: center;
}
.nav-home ul li p{
    font-size: 20px;
}
.nav-home h3{
    text-decoration: underline;
}

/*About Me */
#about_me{
    font-size: 72px;
    color: #F77108;
    font-style: italic;
    text-align: center;
    text-decoration: underline;
    text-shadow: 0 0 4px #08F771;
    grid-column: 1 / 4;
    grid-row: 1;
    font-family: 'Teko' , sans-serif;
}
.about-grid{
    display: grid;
    grid-template-rows: auto 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    padding: 30px;

}
.about-grid h2{
    font-size: 48px;
    color: #F77108;
    text-shadow: 0 0 5px rgb(182, 124, 120);
    font-family: 'Raleway' , sans-serif;
}
.about-grid p{
    font-size: 24px;
    color: #F77108;
    border-style: ridge;
    padding: 10px;
    border-color: rgb(85, 41, 129);
    border-radius: 5px;
    font-family: 'Raleway' , sans-serif;
}

.high-school-image{
    grid-row-start: 2;
    grid-column: 1;
}
.work-image{
    grid-row-start: 3;
    grid-column: 1;
}
#education{
    grid-row-start: 2;
    grid-column: 2 /  4;
}
#work{
    grid-row-start: 3;
    grid-column: 2 /  4;
}


.top-btn{
    background-color:  #08F771;
    border: 4px #F77108;
    border-style: groove;
    border-radius: 10px;
    height: 50px;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 24px;
    transition: .5s;
    text-align: center;
    text-decoration: none;   
    font-family: 'Oswald' , sans-serif;
}
.top-btn:hover{
    box-shadow: 0px 2px 4px 0px #08F771;
}
.top-btn:visited{
    color: black;
}
/* projects */
.project-grid{
    margin: 0 auto;
    max-width: 1000px;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 75px;
    font-family: sans-serif;
    padding: 30px;
    justify-content: center;
}
.project-grid #projects{
    font-size: 72px;
    color: #F77108;
    font-style: italic;
    text-align: center;
    text-decoration: underline;
    text-shadow: 0 0 4px #08F771;
    grid-column: 1 / 4;
    grid-row: 1;
    font-family: 'Teko' , sans-serif;
}
.project-grid #card-title{
    font-size: 48px;
    color: #F77108;
    text-align: center;
}
#site{
    grid-row: 2;
    grid-column: 1 /2;
}
#web{
    grid-row: 2;
    grid-column: 2/3;
}
#game{
    grid-row: 2;
    grid-column: 3/4;
}
.card{
    box-shadow: 0px 4px 8px 0px #08F771;
    text-align: center;
    transition: 1s;
    color: #F77108;
    padding: 10px;
    font-size: 20px;
    font-family: 'Raleway' , sans-serif;
}
.card:hover{
    box-shadow: 8px 8px 16px 0px rgba(0, 0, 0, 0.4);
}
.card-image{
    width: 100%;
    height: 250px;
}
@media screen  and (max-width: 900px) {
    .card-container{
        grid-template-columns: 1fr 1fr;
    } 
}
@media screen and (max-width: 600px) {
    .card-container{
        grid-template-columns: 1fr;
    }  
}
/* Contact */
.contact-grid{
    display: grid;
    margin: 0 auto;
    max-width: 1000px;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr;
    gap: 75px;
    font-family: sans-serif;
    padding: 30px;
    justify-content: center;
}
.contact-grid #contact_links{
    font-size: 72px;
    color: #F77108;
    font-style: italic;
    text-align: center;
    text-decoration: underline;
    text-shadow: 0 0 4px #08F771;
    grid-row: 1;
    font-family: 'Teko' , sans-serif;
}
.contact-info{
    display: grid;
    border: 2px #F77108 groove;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 100px 1fr;
    row-gap: 75px;
    font-family: sans-serif;
    padding: 30px;
    justify-content: center;
}
.personal-email, .student-email, .twitter{
    padding: 10px;
}
.personal-email {
    grid-row: 1;
    grid-column: 2;
}
.student-email{
    grid-row: 2;
    grid-column: 2;
}
.twitter{
    grid-row: 3;
    grid-column: 2;
}
.linkedin{
    grid-row: 4;
    grid-column: 2;
}
.personal-email img{
    grid-row: 1;
    grid-column: 1;
}
.student-email img{
    grid-row: 2;
    grid-column: 1;
}
.twitter img{
    grid-row: 3;
    grid-column: 1;
}
.linkedin img{
    grid-row: 4;
    grid-column: 1;
}
.contact-grid p{
    color: #F77108;
    padding: 10px;
    font-size: 20px;
    font-family: 'Raleway' , sans-serif;
}
.contact-grid a{
    padding: 5px 10px;
    border: 4px #08F771;
    border-style: groove;
    border-radius: 10px;
    font-size: 24px;
    transition: .5s;
    text-align: center;
    text-decoration: none;
    color: #F77108;
    box-shadow: 0px 2px 4px 0px #F77108;
    transition: .5s;
    font-family: 'Oswald' , sans-serif;
}
.contact-grid a:hover{
    box-shadow: 0px 4px 8px 0px #F77108;
}